
@{
    ViewBag.Title = "Menu_Principal";
    Layout = "~/Views/Main.cshtml";
}

    <div class="container">
        <div class="form-row  pt-3">
            <!-- Info Boxes Style 2 -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Bien/Consultar_Bien">
                    <div class="info-box  bg-warning ">
                        <span class="info-box-icon"><i class="fas fa-cubes"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Patrimonio</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                
            </div>

            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Personal/Consultar_Personal">
                    <div class="info-box  bg-success">
                        <span class="info-box-icon"><i class="fas fa-people-carry"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Personal</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Area/Consultar_Area">
                    <div class="info-box  bg-danger">
                        <span class="info-box-icon"><i class="far fa-gem"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Areas</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
        </div>
        <div class="form-row">
            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Gerencia/Consultar_Gerencia">
                    <div class="info-box  bg-info">
                        <span class="info-box-icon"><i class="fas fa-gem"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Gerencias</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>

            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Encontrados/Consultar_Encontrados">
                    <div class="info-box  bg-secondary">
                        <span class="info-box-icon"><i class="fas fa-search"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Encontrados</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Inventario/Consultar_Inventario">
                    <div class="info-box  bg-primary">
                        <span class="info-box-icon"><i class="fas fa-clipboard-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Inventario</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                
            </div>
        </div>

        <div class="form-row">
            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Asignacion/Consultar_Asignacion">
                    <div class="info-box  bg-dark">
                        <span class="info-box-icon"><i class="fas fa-project-diagram"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Asignaciones</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>

            <!-- /.info-box -->
            <div class="col-md-4 pr-2 pl-2">
                <a href="/Categoria/Consultar_Categoria">
                    <div class="info-box  bg-light">
                        <span class="info-box-icon"><i class="fas fa-network-wired"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Categorias</span>
                            <span class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            
        </div>
    </div>

