<<<<<<< HEAD
﻿}
=======
﻿
>>>>>>> master
@{
    ViewBag.Title = "Consultar_Inventario";
    Layout = "~/Views/Main.cshtml";
}

<<<<<<< HEAD
<h2>Consultar_Inventario</h2>

=======
<h2>Consultar_Inventario</h2>
>>>>>>> master
